[submodule "themes/hugo-creative-portfolio-theme"]
	path = themes/hugo-creative-portfolio-theme
	url = https://github.com/VinceJianbin/hugo-creative-portfolio-theme.git
[submodule "themes/novela"]
	path = themes/novela
	url = https://github.com/VinceJianbin/hugo-theme-novela.git
